$default-layout-width: 1024px;

$default-font-size: 100%;
$default-line-space: 8px;
$default-line-height: line-height($default-line-space, $default-font-size);
$default-stack: stack($default-line-height, $default-font-size) * 4;

$default-layout-margin: 0;
$default-layout-padding: $default-stack;

$default-font-color: #000;
$default-font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// color
$default-background-color: #fafafa;
$default-border-color: #f0f0f0;

$default-link-text-color: #2e7eb3;
$default-link-text-hover-color: #38a0e4;

$sidebar-background-color: #f9f9f9;
$sidebar-hover-color: #eee;
$sidebar-active-color: #eee;
$sidebar-border-color: #2e7eb3;

// code
$code-font-size: .95rem;
$code-block-background-color: #f4f6f8;
$code-border-color: #f0f0f0;
$code-inline-background-color: #f0f0f0;
$code-font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;

// breakpoint
$default-breakpoints: (
	xl: 1280px,
	lg: 1024px,
	md: 896px,
	sm: 768px,
	xs: 480px
);

$flexbox-grid-mixins-box-sizing: null;
